.tbl_cursos th{
    background: -moz-linear-gradient(#24246A, #ffffff);
    background:-webkit-linear-gradient(#24246A, #ffffff);
    background:-ms-linear-gradient(#24246A, #ffffff);
    background:-o-linear-gradient(#24246A, #ffffff);
    padding: 10px;
    color: white;
}

table .tbl_cursos {
    border-collapse: collapse;
    width:100%
}
.tbl_cursos th,td{
    text-align: left;
    padding: 8px
}
.tbl_cursos tr:nth-child(even){
    background-color:#f2f2f2;
}
.tbl_cursos tr:hover{
    background-color:#00516e;
    color: #ffffff;
}
.tbl_cursos th{
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
}

.modal_header{
    background-color: #007CCC; border: none;
    padding-bottom: -1em;
}
.modal_header h4{font-size: 12px; color: white; font-weight: bold}
li{list-style: none;  padding: -2em;  color:#0000CC;}
.doc_ul_a{ cursor: pointer;}

/***
style for modal
*/

.modal-header, .close {
    text-align: left;
    font-size: 30px;
    border: none;
}
.modal-footer {
    background-color: #f9f9f9;
}
label {
    color:#145072;
    font-size: 13px;
    font-weight: bold;
}

.ul_li_item li{
    color:#0000CC;
}
